DrugLord/TextMessageSender/Service References/ServiceReference1/DrugLord2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoapPimp.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoapPimp.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Money">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransferId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Money" nillable="true" type="tns:Money" />
  <xs:complexType name="Drugs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransferId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Drugs" nillable="true" type="tns:Drugs" />
</xs:schema>