DrugLord/TextMessageSender/Service References/ServiceReference1/DrugLord1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1947/DrugLord.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoapPimp.Dtos" />
  <xs:element name="GetMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secretCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoapPimp.Dtos" minOccurs="0" name="GetMoneyResult" nillable="true" type="q1:Money" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secretCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoapPimp.Dtos" minOccurs="0" name="GetDrugsResult" nillable="true" type="q2:Drugs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>