DrugLord/TestSoapPimp/Service References/ServiceReference1/DrugLord.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DrugLord" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1947/DrugLord.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1947/DrugLord.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1947/DrugLord.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoapPimp.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDrugLord_GetMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoney" />
  </wsdl:message>
  <wsdl:message name="IDrugLord_GetMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IDrugLord_GetDrugs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrugs" />
  </wsdl:message>
  <wsdl:message name="IDrugLord_GetDrugs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDrugsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDrugLord">
    <wsdl:operation name="GetMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrugLord/GetMoney" message="tns:IDrugLord_GetMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrugLord/GetMoneyResponse" message="tns:IDrugLord_GetMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrugs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrugLord/GetDrugs" message="tns:IDrugLord_GetDrugs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrugLord/GetDrugsResponse" message="tns:IDrugLord_GetDrugs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDrugLord" type="tns:IDrugLord">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMoney">
      <soap:operation soapAction="http://tempuri.org/IDrugLord/GetMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrugs">
      <soap:operation soapAction="http://tempuri.org/IDrugLord/GetDrugs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DrugLord">
    <wsdl:port name="BasicHttpBinding_IDrugLord" binding="tns:BasicHttpBinding_IDrugLord">
      <soap:address location="http://localhost:1947/DrugLord.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>